<div id="case">
    <form action="{% url main.views.caseWorker %}" id="{{ case.id }}">
        <fieldset>
            <legend>{{ case.id }} - {{ case.name }}</legend>
            <div class="clearfix">
                <label for="caseName">Case Name</label>

                <div class="input">
                    <input class="xlarge" id="caseName" type="text"/>
                </div>
            </div>


        </fieldset>
    </form>
    <div class="actions" id= {{ case.id }}>
        <input type="submit" class="btn primary" id="saveCase" value="Save changes">
        <input type="submit" class="btn primary" id="remCase" value="Remove">
    </div>
</div>