{% extends "index.html" %}

{% block content %}
<div class="content">
<div class="row">
    <div class="span16">
        <form>
        <fieldset>
        <div class="inputs-list">
        <form action="{% url main.views.addRun %}" method="post">
            <div class="clearfix">
                    {% csrf_token %}
                {{ form.as_p }}

                <input type="hidden" name="boss_id" value="{{ user }}"/>
                <div class="clearfix">
                <input type="submit" class="btn primary" value="Submit">
            </form>
        </div>
        <fieldset>
        </form>
    </div>
</div>
{% endblock %}