{% extends "index.html" %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="span12">
                <form action="{% url main.views.addSuite %}" method="post">
                    <fieldset>

                                {% for field in form %}
                                    <div class="clearfix">
                                    <div class="fieldWrapper">
                                        {{ field.errors }}
                                        {{ field.label_tag }}: {{ field }}
                                    </div>
                                {% endfor %}
                                <fieldset>
                                    <input type="submit" class="btn primary" value="Submit">
                </form>
            </div>
        </div>


{% endblock %}