{% extends "index.html" %}

{% block content %}

<div class="content">
<div class="row">
    <div class="span12">
            <form action="{% url main.views.addSuite %}" method="post">
                <fieldset>
                <div class="clearfix">
                {% csrf_token %}
                {{ form.as_p }}
                <fieldset>
            <input type="submit" class="btn primary" value="Submit">
            </form>
    </div>
    <div class="span12">
      <form>
        <fieldset>
          <legend>Example form legend</legend>
          <div class="clearfix">
            <label for="xlInput">X-Large input</label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
          <div class="actions">
            <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
</div>


{% endblock %}