{% extends "index.html" %}

{% block content %}

    <div class="sidebar">
        <div class="well">
            <h5>{{ suite.caseName }}</h5>
            <ul>
                {% for i in suite.cases.all %}
                    <li><a href="{% url main.views.show_case i.id %}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="span16">
                <form action="{% url main.test.editSuite suite.id%}" method="post">
                    <fieldset>
                        {% for field in form %}
                            <div class="clearfix">
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }}: {{ field }}
                            </div>
                        {% endfor %}
                        <fieldset>
                            <input type="submit" class="btn primary" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}