{% extends "index.html" %}

{% block content %}

    <div class="sidebar">
        <div class="well">
            <h5>{{ suite.name }}</h5>
            <ul>
                {% for i in suite.cases.all %}
                    <li><a href="{% url main.views.show_case i.id %}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="span16">
                <ul class="tabs">
                    <li class="active"><a href="#setup">Case setUp</a></li>
                    <li><a href="#cases">Cases</a></li>
                    <li><a href="#order">Order</a></li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="active" id="setup">
                        <div class="inputs-list">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn primary" value="Submit">
                            </form>
                        </div>
                    </div>
                    <div id="cases">
                        <div class="inputs-list">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ caseForm.as_p }}
                                <input type="submit" class="btn primary" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}