
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8>
<title>{{ title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/redactor/redactor.js"></script>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
<script type="text/javascript" src="/static/js/bootstrap-tabs.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<link rel="stylesheet" href="/static/js/redactor/css/redactor.css" type="text/css" />
    <style type="text/css">
      body {
        padding-top: 50px;
      }
    </style>
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>
    <div class="topbar">
      <div class="topbar-inner" data-dropdown="dropdown">
        <div class="container-fluid">
          <a class="brand" href="#">saQurA</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{% url main.views.info %}">Info</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="{% url main.views.execute %}">Execute</a></li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a href="{% url main.views.create %}" class="dropdown-toggle">Create</a>
              <ul class="dropdown-menu">
                  <li><a href="{% url main.views.addSuite %}" >Test Suite</a></li>
                  <li><a href="{% url main.views.addCase %}" >Test Case</a></li>
                  <li><a href="{% url main.views.addCaseType %}" >Case Type</a></li>
                  <li><a href="{% url main.views.addRun %}" >Run</a></li>
                  <li><a href="{% url main.views.addUser %}" >User</a></li>
                  <li><a href="{% url main.views.addBuild %}" >Build</a></li>
              </ul>
            </li>
          </ul>
        </li>
          <ul class="nav">
            <li class="dropdown">
              <a href="{% url main.views.create %}" class="dropdown-toggle">Edit</a>
              <ul class="dropdown-menu">
                  <li><a href="{% url main.views.editAbilities %}" >Edit abilities</a></li>
              </ul>
            </li>
          </ul>
          <p class="pull-right">{% now "jS F Y H:i:s" %}</p>
          <p class="pull-right"><a href="#">{{ user.username }}</a></p>
        </div>
      </div>
    </div>
<div class="container-fluid">
{% block content %}

{% endblock %}
    </div>
    <footer>
        <p></p>
    </footer>
</div>
</body> 
</html> 	