{% extends "index.html" %}

{% block content %}
    <input type="submit" class="btn primary" id="addCase" value="Add Case">
    <span id="count"></span>
    {#<a href="#" id="addCase">Add case</a>#}
    <div class="span12">
        <div id="caseContainer">
        </div>
    </div>

    <script>
        var mainDiv = "#caseContainer";

        $.get('{% url main.views.addCase %}', function(data) {
                $(mainDiv).append(data);
                $("#count").html($("#caseContainer > div").length);
            });
        $('#addCase').live('click', function() {
            var cases = $("#caseContainer > div").length;            
            $.post('{% url main.views.test %}',
                  { "caseID": cases },
            function(data) {
                $(mainDiv).append(data);
            });
            $("#count").html($("#caseContainer > div").length + 1);
        });


{#        $('#addCase').click(function() {#}
{#            $.get('{% url main.views.addCase %}', function(data) {#}
{#                $(mainDiv).append(data);#}
{#            });#}
{#            $("#count").html($("#caseContainer > div").length + 1);#}
{#        });#}

        $('#remCase').live('click', function() {
            $(this).parents("#case").remove();
            $("#count").html($("#caseContainer > div").length);
        });
        $('#saveCase').live('click', function() {
            $.post('{% url main.views.test %}',
                  { "caseName": $("#caseName").val() },
            function(data) {
                $('.result').html(data);
            });

        });


    </script>

{% endblock %}


<!--<form>
  <fieldset>
    <legend>Example form legend</legend>
    <div class="clearfix">
      <label for="xlInput">X-Large input</label>
      <div class="input">
        <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
      </div>
    </div><!-- /clearfix -->
<!--<div class="actions">
      <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
    </div>
  </fieldset>
</form>-->
